body{
    background-image: url('/static/images/Background.jpeg');
    text-align: center;
    padding: 40px;
    margin: 0;
}

.output-container{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

footer{
    margin-top: 20px;
}